.tab.currTab{   
    background-color: #4f5153;
    color: #fff;
    width: 105px;
}
.active{
    display: block;
}
.tab{
    cursor: pointer;
    padding: 20px;
    display: flex;
    
}

.Y-S-wearher-conitainer{
    display: flex;
    gap: 10rem;
}

.search-section{
display: none;
}
.wrapper{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.search-section.active{
    display: flex;
}

.your-wether{
    display: none;
}

.your-wether.active{
    display: flex;
}